DEBUG=True
FORCE_SCRIPT_NAME=
# Required. Generate your own, don't reuse this or any value committed to git:
#   python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=
